<!-- <p-menu [model]="menuItems"/> -->

<p-menu [model]="menuItems" styleClass="w-full md:w-15rem">
    <ng-template pTemplate="submenuheader" let-item>
        <!-- <span class="text-primary font-bold">{{ item.label }}</span> -->
        <small>{{ item.label }}</small>
        <!-- {{ item.label }} -->
    </ng-template>
    <ng-template pTemplate="item" let-item>
        <a pRipple class="flex align-items-center p-menuitem-link">
            <!-- <span [class]="item.icon"></span> -->
            <mat-icon styleClass="fs-1">{{ item.icon }}</mat-icon>
            <span class="ms-2">{{ item.label }}</span>
            <p-badge *ngIf="item.badge" class="ms-2" [value]="item.badge" />
            <span *ngIf="item.shortcut" class="ms-auto border-1 surface-border border-round surface-100 text-xs p-1">
                {{ item.shortcut }}
            </span>
        </a>
    </ng-template>
</p-menu>