mat-sidenav-container {
    height: calc(100vh - 6rem);
    background: #ececec;;

    mat-sidenav {
        width: 270px;
        border-right: 5px solid #ececec;
        background: #fff;
        height: 100%;
        .sidebar-left-content {
            padding: 16px;
        }
    }

    mat-sidenav-content {
        padding-right: 20px;
        padding-left: 20px;
        .content {
            &.full-height {
                height: calc(100% - 30px);
            }
            border-radius: 10px;
            background: #fff;
            padding: 25px;
            font-size: 1rem;
            margin-top: 16px;
        }
    }
}
:host ::ng-deep {
     .p-button {
        color: #6EA5C6;
     }
    .p-breadcrumb {
        background: unset;
        border: unset;
        padding: 1rem 1rem 0 1rem;
    } 
}